@CHARSET "UTF-8";

/************ Estilos pagina inicial ***********/
.bodyMenu{
	/*
	background-position: center center;
	background-color:black;*/
	background-image: url("images/fondoForm.jpg");
	background-repeat:repeat-x repeat-y;
	align-text: center;
	height: 100%;
	min-height: 350px;
}

.bodyIni{
	background-color: white;
	background-repeat:no-repeat;;
	background-image: url("images/dogDoctorMed.jpg");
	align-text: center;
	height: 100%;
	min-height: 400px;
}

#divImg{
	position: absolute;
	width:100%;
	margin-top: 5%;
	display:block;
	clear: both;
}

#divBtnMenu{
	position: relative;
	margin-top: 100px;
	width:100%;
	float: left;
}

#divBtnExit{
	bottom: 100px;
	position: relative;
	margin-top: 100px;
	width:100%;
	float: left;
	left: 44px;
}

.imgBtnIni:Hover {
 }

/************************************************/
/************* Estilos formularios *************/

.left-button{
	widht: 50%;
	text-align: left;
	float: left;
}

.right-button{
	widht: 50%;
	text-align: right;
}

#infoContent{
	display:none;
	margin-bottom: 10px;	
}
